[user]
	email = sd103e@mail.ru
	name = Semyon Kosse
[credential]
	helper = 
[url "git@github.com:"]
	insteadOf = https://github.com/
[http]
	proxy = http://127.0.0.1:2080
[https]
	proxy = http://127.0.0.1:2080
